@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import '@fortawesome/fontawesome-free/css/all.css';

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}